.selections{
    height: 100%;
    ul{
        li{
            padding-left: 25px;
            transition: all 0.4s;
            &:hover{
                color: var(--white) ;
                border-left: 1px solid var(--white);
            }
        }
    }
}