html,
body {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: IviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  z-index: 1;
}

* {
  -webkit-font-smoothing: antialiased;
}

img {
  pointer-events: none;
}


.slide {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.slide.selected {
  opacity: 1;
}

.control-arrow {
  font-family: Icons;
  padding: 0 45px!important;

  &::before {
    font-size: 32px !important;
    border: none !important;
    content: "\E048" !important;
  }
}

.control-prev {
  &::before {
    content: "\E049" !important;
  }
}