.card{
    background: #312b45;
    padding: 15px;
    border-radius: 8px;
    width: 179px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--gray-opacity);
    color: var(--btn-text);
    &:hover {
      background-color: var(--gray-opacity-active);
    }
}
