.container {
    margin-left: auto;
    & > :last-child {
        margin-top: 15px;
        height: 40px;
        color: var(--white);
        width: 100%;
        div {
            font-family: QualityIcons;
            font-size: 20px;
            line-height: 20px;
            &::before {
                content: '\E35C';
                margin-right: 10px;
            }
        }
    }
}
.subscription {
    max-width: 240px;
    height: 280px;
    overflow: hidden;
    background: var(--gray-opacity);
    border-radius: 8px;
    position: relative;
    transition: all 0.4s;
    & > :first-child {
        margin-top: -50px;
    }
    .offer {
        position: absolute;
        bottom: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px;
        background: hsla(274, 21%, 19%, 0.921);
        box-shadow: 0 -20px 30px 10px hsl(274, 21%, 19%);
        transition: bottom 0.4s;
        div {
            margin-left: 10px;
        }
    }

    .button {
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        transition: all 0.4s;
        a {
            width: 100%;
            margin-bottom: 10px;
        }
        p {
            font-size: 10px;
        }
    }
    &:hover {
        .offer {
            position: absolute;
            bottom: 70px;
        }
        .button {
            margin-top: 0;
        }
    }
}
