.swiper {
  margin-bottom: 24px;
}

.button {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  gap: 8px;
}