.password {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 290px;
}

.icon {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 16px;
  line-height: 16px;
  font-family: QualityIcons;
  color: var(--bg);

  &::before {
    content: "\E21F";
  }

  &.show {
    &::before {
      content: "\E357";
    }
  }
}

.error {
  display: none;
  color: var(--orange);
  font-size: 13px;

  &.show {
    display: block;
  }
}

.invalid {
  span, input {
    color: var(--orange);
  }

  border: 1px solid var(--orange);
}