.subscribe {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: var(--border);
    margin-right: 12px;
    &::before {
        content: '\E307';
    }
}
.certificate {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: var(--border);
    margin-right: 12px;
    &::before {
        content: '\E07F';
    }
}

.movies {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E135';
    }
}

.series {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E34C';
    }
}

.cartoons {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E070';
    }
}

.tv {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E3A9';
    }
}
.aboutUs {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E00B';
    }
}

.btn {
    display: block;
    color: var(--white);
    padding: 20px 32px 0;
}
.btn_entrance {
    display: inline-block;
    font-family: QualityIcons;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
    color: var(--white);
    position: relative;
    &::before {
        content: '\E3AD';
        position: absolute;
        top: 3px;
    }
}

.rating {
    margin-top: 20px;
    padding-bottom: 20px;
}

.smartTV {
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.allDevices {
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.support {
    font-family: QualityIcons;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 12px;
    color: var(--white);
    &::before {
        content: '\E25E';
    }
}

.socials {
    margin-top: 20px;
    padding: 10px 32px 0;
    & > :last-child {
        margin-top: 40px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        font-style: normal;
    }
}

.socials_btns {
    & > :not(:last-child) {
        margin-right: 10px;
    }
    & > * {
        margin-top: 10px;
    }
}
