.navigation {
    line-height: 20px;
    color: var(--border);
    a {
        transition: all 0.4s ease;
        &:hover {
            color: white;
        }
    }
}

.flex {
    font-size: 15px;
    font-weight: 500;
    a {
        padding: 10px 8px;
    }
    ul {
        display: flex;
        align-items: center;
    }
}

.block {
    font-weight: 400;
    font-size: 100%;
    ul {
        & > :not(:last-child) {
            margin-bottom: 8px;
        }
    }
}
