@import '@/styles/_vars';

.container {
    max-width: 590px;
    @include adpt($desm-r) {
        max-width: 700px;
    }
    @include adpt($mtab-r) {
        max-width: 100%;
    }
}

.image {
    border-radius: 10px;
    margin: 16px 0 16px;
}

.head {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    @include adpt($bmob-r) {
        font-size: 40px;
    }
}
